.action-button {
	width: 400px;
	height: 90px;
    display: flex !important;
    align-items: center;
    justify-content: center;
	align-content: center;
	margin: 0px 20px;
}

.action {
	display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}